#board {
    border: 1px dashed black;
    cursor: none;
}

body {
    position: relative;
}

#go-again {
    position: absolute;
    top: 55%;
    left: 48%;
}

.hit {
    color: red;
}

.no-hit {
    color: black;
}
